<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
        <img src="../../../assets/FotoPerfil.jpg"  class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Sobre mi</h1>
            <p>Soy una persona proactiva, con facilidad para el aprendizaje y determinación. Soy persistente, practico, ingenioso y no me gusta dejar tareas inconclusas.
                Estoy interesado en volver al ambito laboral para poder crecer como individuo y madurar, y a su ves poder continuar con el desarrollo de mis conocimientos generales. Entre mis intereses se encuentra el estudio psicológico dentro de los ámbitos laborales y la programación.</p>
        </span>
    </div>
</div>