<div class="row">
    <h1>Formacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h3>Carrera universitaria en psicologia</h3> - <h3>(2015-2022)</h3></li>
            <p>La carrera de psicología es un tramo cuyas materias están centradas en el estudio de la psique humana, tanto individual como social. Esto me brinda una mejor comprensión de los comportamientos de otros individuos, en distintos ámbitos, permitiéndome establecer mejores vínculos con ellos y así lograr un buen trabajo en conjuntos. Mi objetivo siempre fue el de comprender a un nivel mas avanzado el funcionamiento de la mente.
                En estos momento me encuentro ya finalizando dicha carrera, habiendo completado todas las asignaciones, y faltando solamente la preparación y presentación de la tesis, enfocada articularmente en  el ambito de la psicologia laboral.</p>

        </ul>
        <ul>
            <li><h3>Estudios secundarios y primarios</h3> - <h3>(2000-2012)</h3></li>
            <p>En mis estudios me acostumbre al trato con mis pares, al trabajo en equipo y a esforzarme a la hora de cumplir los objetivos plantados.</p>

        </ul>
    </div>
</div>
