<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Task List</h2>
            <p>Primera aplicacion realizada en Angular para poner en practica lo aprendido hasta el momento.Dicha aplicacion consta de una lista de tareas, para organizar, agregar y editar mis deberes.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
<img src="../../../assets/Task.png" class="img-fluid img-proyecto">
        </div>

    </div>

</div>
